.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-medium-big {
    margin-medium: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
